<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="yes" name="apple-touch-fullscreen" />
  <meta content="telephone=no,email=no" name="format-detection" />
  <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
  <title>优车账号升级</title>
  <script src="<%= htmlWebpackPlugin.options.base_home%>lib/base.min.js" data-ignore="true"></script>
</head>

<body>
  <div id="app">
    <div class="loading-panel">
      <div class="loading-content">
        <div class="loading-bounce"></div>
        <div class="loading-bounce loading-bounce-second"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
  <script src="<%= htmlWebpackPlugin.options.base_home%>lib/zepto.min.js" data-ignore="true"></script>
  <script src="<%= htmlWebpackPlugin.options.base_home%>lib/polyfill.min.js" charset="utf-8"></script>
  <script src="<%= htmlWebpackPlugin.options.base_home%>lib/react.js" charset="utf-8"></script>

</body>

</html>
